<div class="containerr">
  <div class="row">
    <div class="col-lg-4 col-xlg-3 col-md-3 col-xs-2">
    </div>

    <div class="col-lg-4 col-xlg-6 col-md-6 col-xs-8">
      <div class="main-inner shadow-lg pt-5">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <img src="{{ getSlide() }}" alt="slide" class="mt-5 mb-4">
            <h6 class="headd text-center">{{randomText()}}</h6>
            <p class="pb-5 label pb-none text-center ms-2 me-2">Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Veniam modi fugiat, iste eligendi distinctio harum omnis mollitia cumque aperiam asperiores </p>
          </div>


          <div class="d-flex circles">
            <div class="circle me-2" (click)='getPrev()'></div>
            <div class="circle-2 me-2" (click)='getNext()'></div>
            <div class="circle me-2"></div>

            <button class="btn btn-md px-3 btn-next shadow-sm ms-5" routerLink="/auth/">Next</button>
          </div>
        </div>
      </div>      
    </div>
    <div class="col-lg-4 col-xlg-3 col-md-3 col-xs-2">
    </div>
  </div>

</div>