<div #container class="note-card-container"  (mouseover) ="cardHover()" (mouseleave) ="hideCloseBtn()">
    <div class="note-card-content" >
        <h1 class="note-card-title">
            {{title}}
        </h1>

        <!-- (click)="deleteNote(this.noteToDelete?.data?.id)" -->
        <!-- *ngIf = "isVisible"  -->
        <img src="../../../assets/images/close-me.webp" alt="" class="close-btn" (click) ="deleteNote(id, 'delete')">

        <div #bodyText class="note-card-body" (click) ="deleteNote(id, 'click')">
            <p>{{ content }}</p>
            <div #truncator class="fade-out-truncation"></div>    
        </div>

        <p class="date">{{date | date: 'mediumDate'}} {{amount | currency:"NGN"}}</p>
    </div>
</div>
